---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Bring Your Own Source",
    description:
      "Provide the source or target platform, and we’ll handle the rest, extracting and delivering the data you need.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Precise Data Extraction",
    description:
      "LeadOps ensures that every piece of extracted data is accurate and relevant to your requirements.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Delivery",
    description:
      "Request data whenever you need it. Our team ensures timely delivery tailored to your schedule.",
    icon: "bx:bxs-package",
  },
  {
    title: "Any Data Format",
    description:
      "We can deliver data in any format you need, whether it's CSV, JSON, or a custom format.",
    icon: "bx:bxs-data",
  },
  {
    title: "Custom Solutions",
    description:
      "We can tailor our services to your specific needs, whether you need to extract leads from a complex website or a specific data point.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Dedicated Support",
    description:
      "Our team and community of experts are here to assist you with your lead extraction needs, every step of the way.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Hands-Off Lead Extraction
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    LeadOps is your trusted partner for web scraping leads, and lead extraction services. Simply provide your source, and we’ll deliver.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
